body {
    // background-image: url('https://images.unsplash.com/photo-1585922620606-df8a77f6ed5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80');
    background: url('https://images.unsplash.com/photo-1585922620606-df8a77f6ed5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80') no-repeat center center fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-picker {
    margin-top: 30px
}

.charts {
    margin-top: 20px
}

