<div *ngIf="isLoader">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!isLoader">
    <mat-card class="card confirmed">
        <mat-card-header>
            <mat-card-title>Infected </mat-card-title>
            <mat-card-subtitle [countUp]="data.confirmed"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="p-margin">Last Updated:</p>
            <b class="p-margin">{{getDate()}}</b>
        </mat-card-content>
    </mat-card>

    <mat-card class="card recovered">
        <mat-card-header>
            <mat-card-title>Recovered</mat-card-title>
            <mat-card-subtitle [countUp]="data.recovered"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="p-margin">Last Updated:</p>
            <b class="p-margin">{{getDate()}}</b>
        </mat-card-content>
    </mat-card>

    <mat-card class="card deaths">
        <mat-card-header>
            <mat-card-title>Deaths</mat-card-title>
            <mat-card-subtitle [countUp]="data.deaths"></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="p-margin">Last Updated:</p>
            <b class="p-margin">{{getDate()}}</b>
        </mat-card-content>
    </mat-card>
</div>